<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack.Common.Signed" version="4.0.48" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.48" targetFramework="net452" />
  <package id="ServiceStack.OrmLite.Signed" version="4.0.48" targetFramework="net452" />
  <package id="ServiceStack.OrmLite.Sqlite.Windows.Signed" version="4.0.48" targetFramework="net452" />
  <package id="ServiceStack.Text.Signed" version="4.0.48" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net452" />
</packages>